git+https://github.com/bcgov/dbc-pylib@v4.0.0#egg=DBCSecrets&subdirectory=DBCSecrets
git+https://github.com/bcgov/dbc-pylib@v4.0.0#egg=PMP&subdirectory=PMP
git+https://github.com/bcgov/dbc-pylib@v4.0.0#egg=FMEUtil&subdirectory=FMEUtil
git+https://github.com/bcgov/dbc-pylib@v4.0.0#egg=KirkUtil&subdirectory=KirkUtil
git+https://github.com/bcgov/dbc-pylib@v4.0.0#egg=DB&subdirectory=DB
requests==2.21.0
enum34==1.1.6
python-dateutil==2.7.5
cx_Oracle==7.0.0
PyYAML==4.2b4
